<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../styles/main.css"> -->
  </head>
  <body>
    <header>
      <a style="color: inherit; text-decoration: none" href="../main.html">
        <div class="logo-wraper">
          <div class="logo-image">
            <img src="./images/ЛОГО вектор.jpg" alt="Логотип" />
          </div>

          <h1>G-Hamsters</h1>
        </div>
      </a>

      <div class="user-bar">
        <a href="notifications.html" class="notifications-link">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/noa2-8fefc.appspot.com/o/images%2FBell.png?alt=media&token=1ee365d7-783b-4f3d-a550-5941e4ba26d9"
            alt="Notifications"
            class="icon"
          />
          <span class="unread-indicator"></span>
        </a>

        <a
          href="cabinet.html"
          class="profile-link"
          style="
            text-decoration: none;
            color: inherit;
            display: inline-flex;
            align-items: center;
          "
        >
          <span class="user-name" style="margin-right: 8px">Name Surname</span>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/noa2-8fefc.appspot.com/o/images%2FUser_02.png?alt=media&token=43e99e28-ca43-454a-9ade-5188c4778fbe"
            alt="Profile"
            class="icon"
          />
        </a>
      </div>
    </header>
  </body>
  <script></script>
</html>
